html {
  overflow-y: scroll !important;
}

* {
  user-select: none;
}

.font-mono {
  font-family: 'Inconsolata', monospace;
}

.v-form input:-webkit-autofill,
.v-form input:-webkit-autofill:hover,
.v-form input:-webkit-autofill:focus,
.v-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}

h3.logo-text {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

#app a {
  text-decoration: none;
  color: inherit;
}

#app ul {
  list-style: none;
}