@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/Inconsolata-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/Inconsolata-Regular.ttf") format("truetype");
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
}

* {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  user-select: none;
}

.font-mono,
.font-mono *  {
  font-family: 'Inconsolata', sans-serif;
}

.font-bold,
.font-bold * {
  font-weight: 700;
}

.color-pos,
.color-pos * {
  color: #2a2;
}

.color-neg,
.color-neg * {
  color: #a22;
}

.color-neutral,
.color-neutral * {
  color: #666666;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1em 0;
  padding: 0; 
}

a {
  text-decoration: none;
  color: #666666;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  height: 32px;
  min-width: 92px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: transparent;
  outline: none;
  color: #666666;
  transition: all ease 200ms;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 18px;
  padding-right: 18px;
}

button:hover {
  background-color: #3366cc;
  border-color: #3366cc;
  color: #ffffff;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.1);
  cursor: auto;
}

[v-cloak] {
  display: none;
}

.fade-replace-enter,
.fade-replace-leave-to {
  opacity: 0;
}

.fade-replace-enter-active,
.fade-replace-leave-active {
  transition: opacity ease-in 300ms;
}

