@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/Inconsolata-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/Inconsolata-Regular.ttf") format("truetype");
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
}

* {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  user-select: none;
}

.font-mono {
  font-family: 'Inconsolata', sans-serif;
}

.font-bold {
  font-weight: 700;
}

[v-cloak] {
  display: none;
}
